<div>
  <h1>Articles</h1>

  <% @articles.each do |article| %>
    <div class="border rounded p-3 my-2">
      <h2><%= article.title %></h2>
      <p><%= article.text %></p>

      <% if article.image_gallery.present? %>
        <div class="d-flex align-items-center justify-content-center">
          <% article.image_gallery.images.each do |image| %>
            <%= image_tag(image.picture, :height => "200px") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="text-center my-3">
    <%= link_to 'New article', new_article_path(), class:"button" %>
  </div>

</div>